@import '../../../styles/variables';

.panelProfil {
    position: absolute;
    top:70px;
    flex-direction: column;
    display: flex;
    background-color: $primary;
    padding: 20px;
    border: 1px solid $secondary;
    z-index: 9999;
    padding-top: 15px;
    text-align: center;
    color:$ultraLightGrey;
    opacity: 1;
    transition: 0.5s opacity ease-in-out;
    width: 82%;

    .panelTitle {
        padding-bottom: 10px; 
        font-size:18px;
    }

    .bar {
        width:50%;
        border-color: $secondary;
        margin-top:15px;
        margin-bottom:15px;
    }
    
    a {
        color: white;
        font-size: 18px;
        margin: 7px 10px;
    }

}

.hidden {
    display: none;
}

.hiddenForm {
    @extend .panelProfil;
    transition: 0.1s opacity ease-in;
    opacity: 0;
    z-index: -9999;
}