@media (min-width: 1024px) and (max-width: 1900px) {
  
    .main__destinations
    {
        width: auto;
    }
    
    .main__slider__arrow
    {
        width: 97%;
    }
    
    .main__container
    {
        width: 90%;
    }
    
    .main__box-3
    {
        width: 85%;
    }
    
    .footer__container
    {
        width: 90%;
    }  
    
    .img__container
    {
        margin: auto;
    }
    
    .main__slider-crop
    {
        bottom: 50px;
    }
}

@media (min-width: 1204px) and (max-width: 1595px) {
  
    .main__slider-box
    {
        width: 30%;
    }
    
    .main__slider-box > img 
    {
        width: 70%;
    }
    
    .main__slider-crop
    {
        bottom: 30px;
    }
    
    .img__container
    {
        width: 100%
    }
  
}

@media (min-width: 768px) and (max-width: 1204px){
  
    .main__block__top > p
    {
        font-size: 14px;
    }
    
    .main__block__img > 
    {
        width: 60px;
    }
    
    .slider__img
    {
        bottom: 80px;
    }
    
    .img__container
    {
        width: 100%
    }
    
    .main__box-3 > button
    {
        width: auto;
    }
    
    .main__container
    {
        width: 90%;
    }
    
    .main__box-3
    {
        width: 90%;
    }
    
    .footer__container
    {
        width: 90%;
    }  
    
    .main__slider-box
    {
        width: 30%;
    }
    
    .main__slider-box > img 
    {
        width: 70%;
    }
    
    .main__slider__arrow
    {
        width: 97%;
    }
    
    .main__slider-crop
    {
        bottom: 20px;
    }
}


@media (min-width: 481px) and (max-width: 900px) {
  
    .img__container
    {
        width: 100%
    }
  
    .main__container
    {
        width: 90%;
    }
    
    .main__box-3
    {
        width: 90%;
    }
    
    .footer__container
    {
        width: 90%;
    }  
    
    nav > ul > li
    {
        width: 100%;
        border-bottom: 1px solid white;
        border-top: 1px solid white;
        padding: 20px;
        margin: 0;
    }
    
    nav > ul > li > a > i
    {
        float: right;
        color: black;
    }
    
    .header__menu__hidden
    {
        width: 62%;
    }
    
    .main__slider-box
    {
        width: 30%;
    }
    
    .main__slider-box > img 
    {
        width: 70%;
    }
    
    .main__slider__arrow
    {
        width: 97%;
    }
    
    .main__slider-crop
    {
        bottom: 50px;
    }
}


@media (min-width: 320px) and (max-width: 480px) {
  
    .img__container
    {
        width: 100%
    }
    
    .main__container
    {
        width: 100%;
    }
    
    .main__box-3
    {
        width: 100%;
    }
    
    .footer__container
    {
        width: 100%;
    }  
  
}