body, html {
  margin: 0;
  padding: 0;
}

.App {
  margin: 0px 3px;
  padding: 0px 1px;
}

.tchatTitle {
  margin-bottom: 4px;
  margin-top: 20px;
  margin-left: 2px;
}

.usersTitle {
  margin-bottom: 3px;
  margin-left: 3px;
}